html,
body {
  height: 100vh;
  width: 100vw;
  background: black;
  text-align: center;
}
h1 {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}
body {
  color: white;
  display: none;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 18px;
  margin: 0;
}

#form {
  position: relative;
  border: 3px solid white;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  text-align: center;
}

.options {
  margin-bottom: 25px;
}

.vertalign {
  color: white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0 auto;
}

#form-fields-container {
  width: 200px;
  margin: 0 auto;
  margin-top: 15px;
}

.form-field {
  display: inline-block;
  border: none;
  color: white;
  border-bottom: 1px dotted white;
  text-align: center;
  padding: 0;
  font-size: inherit;
  width: 30px;
  height: 25px;
}

.btn {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  top: 15px;
  height: 40px;
  width: 40px;
  background: black;
  color: white;
  transition: 0.3s;
  margin: 0px auto;
}

.btn:hover {
  background: rgba(0, 0, 0, 0);
  border-color: paleturquoise;
  color: paleturquoise;
}

#stop {
  display: none;
}

#description {
  position: absolute;
  bottom: 20px;
  left: 150px;
  right: 150px;
  text-align: center;
}

.dot {
  position: absolute;
  display: none;
  border-radius: 50%;
}

#overlay {
  position: fixed;
}

#mobile-device-warning {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  background: white;
}

/* media */

@media (max-width: 750px) {
  #description {
    left: 90px;
    right: 90px;
  }

  body {
    color: white;
    display: none;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 14px;
    margin: 0;
  }

  #form {
    position: relative;
    border: 4px solid rgb(231, 100, 100);
    background: rgb(66, 226, 133);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    text-align: center;
  }

  #form-fields-container {
    width: 200px;
    left: 50%;
    margin: 200px 0px 0px -100px;
  }

  #description {
    left: 50px;
    right: 50px;
    display: none;
  }
}
/* 
@media (max-width: 450px) {
  #description {
    left: 50px;
    right: 50px;
    display: none;
  }
} */
