html, body {
  position: relative;
  height: 100%;
}

body {
  display: none;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 14px;
  margin: 0;
  cursor: crosshair;
}

#form {
  border: 3px solid black;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
}

.vertalign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  margin: 0 auto;
}

#form-fields-container {
  width: 175px;
  margin: 0 auto;
  margin-top: 15px
}

.form-field {
  display: inline-block;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
  padding: 0;
  font-size: inherit;
  width: 30px;
}

.btn {
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  top: 15px;
  height: 40px;
  width: 40px;
  background: black;
  color: white;
  transition: 0.3s;
}

.btn:hover {
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: black;
}

#stop {
  display: none;
}

#description {
  position: absolute;
  bottom: 20px;
  left: 150px;
  right: 150px;
  text-align: center;
}

.dot {
  position: absolute;
  display: none;
  border-radius: 50%;
}

#overlay {
  position: fixed;
}

#mobile-device-warning {
  display: none;
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
  background: white;
}

/* media */

@media (max-width: 700px) {
  #description {
    left: 90px;
    right: 90px;
  }
}

@media (max-width: 450px) {
  #description {
    left: 50px;
    right: 50px;
  }
}
